@using AspNetCoreMvc.Models;
@model List<ProductDetailDto>
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<partial name="_NotificationPartial" />

<table id="tblProduct" class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th>Məhsul ID</th>
            <th>Məhsul Adı</th>
            <th>Kateqoriya Adı</th>
            <th>Stok Sayı</th>
            <th>Qiyməti</th>
            <th>Redaktə Et</th>
            <th>Sil</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ProductId</td>
                <td>@item.ProductName</td>
                <td>@item.CategoryName</td>
                <td>@item.UnitsInStock</td>
                <td>@item.UnitPrice</td>
                <td><a href="/Home/UpdateProduct?id=@item.ProductId" class="btn btn-success" style="width:100px">Redaktə Et</a></td>
                <td><a onclick="functionConfirm()" ; href="/Home/DeleteProduct/@item.ProductId" class="btn btn-danger" style="width:100px">Sil</a></td>
            </tr>
        }
    <tbody />
</table>
@section Scripts{
    <script src="~/js/site.js"></script>
    <script>
        function functionConfirm() {
    Swal.fire({
        title: 'Are you sure?',
        text: "You won't be able to revert this!",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes, delete it!'
    }).then((result) => {
        if (result.isConfirmed) {
            Swal.fire(
                'Deleted!',
                'Your file has been deleted.',
                'success'
            )
                        @TempData["IsConfirm"] = 1;
        }
    })
}
    </script>
}
<a href="/Home/AddProduct" class="btn btn-primary" style="width:120px">Yeni Əlavə Et</a>
